<div class="box-create">
    <div class="box-title">
      <h1 mat-dialog-title>Tạo Môn Thi</h1>
    </div>
    <div class="box-content">
      <div class="row">
        <div class="col-md-12">
        <mat-form-field appearance="fill">
            <mat-label>Chọn Môn</mat-label>
            <mat-select [(ngModel)]="subject" >
              <mat-option *ngFor="let subject of subjects" value="{{subject.id}}">{{subject.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          </div>
        <div class="col-md-12">
          <mat-form-field class="example-full-width">

            <mat-label>Nhập Tên Chương</mat-label>
            <input [(ngModel)]="nameCategory" name="nameCategory" matInput placeholder="Ex. Chương1: Hệ Quản Trị Cơ Sở Dữ Liệu Microsoft Access" >
          </mat-form-field>
        </div>
        </div>
      </div>
    </div>

  <mat-dialog-actions align="end">
    <button (click)="postCategory()" mat-raised-button color="primary">Tạo</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="true">Hủy</button>
  </mat-dialog-actions>
