<footer *ngIf="isAdmin ==='user'" class="footer">
  <div class="container-fluid">
    <div class="box">
      <div class="Title">Tài Liệu Tham Khảo</div>
      <div class="row">
        <a
          href="https://www.elib.vn/hoc-tap/tag/tieng-anh-12.html"
          target="_blank"
          class="col-md-3"
        >
          <div class="box-content">
            <img
              src="https://s.tracnghiem.net/images/share/thumb/230x144/642_1599814984.jpg"
            />
            <div class="title-box">
              Hướng dẫn giải bài Tiếng Anh và Tiếng Anh mới 12
            </div>
          </div>
        </a>
        <a
          href="https://www.elib.vn/hoc-tap/chu-de/bai-hoc-tin-hoc-12.html"
          target="_blank"
          class="col-md-3"
        >
          <div class="box-content">
            <img
              src="https://s.tracnghiem.net/images/share/thumb/230x144/953_1599817409.jpg"
            />
            <div class="title-box">
              Lý thuyết Tin Học lớp 12 đầy đủ và chi tiết
            </div>
          </div>
        </a>
        <a
          href="https://www.elib.vn/hoc-tap/tag/giai-bai-tap-toan-12.html"
          target="_blank"
          class="col-md-3"
        >
          <div class="box-content">
            <img
              src="https://s.tracnghiem.net/images/share/thumb/230x144/289_1599814417.jpg"
            />
            <div class="title-box">
              Hướng dẫn giải SGK, SBT và nâng cao Toán 12
            </div>
          </div>
        </a>
        <a
          href="https://www.elib.vn/hoc-tap/chu-de/bai-hoc-vat-ly-12.html"
          target="_blank"
          class="col-md-3"
        >
          <div class="box-content">
            <img
              src="https://s.tracnghiem.net/images/share/thumb/230x144/66_1599817835.jpg"
            />
            <div class="title-box">
              Lý thuyết Vật lý lớp 12 theo chuyên đề và bài học
            </div>
          </div>
        </a>
        <a
          href="https://www.elib.vn/hoc-tap/tag/lich-su-12.html"
          target="_blank"
          class="col-md-3"
        >
          <div class="box-content">
            <img
              src="https://s.tracnghiem.net/images/share/thumb/230x144/706_1599816778.jpg"
            />
            <div class="title-box">
              Bài giảng Lịch Sử lớp 12 hệ thống hoá kiến thức tốt nhất
            </div>
          </div>
        </a>
        <a
          href="https://www.elib.vn/hoc-tap/tag/toan-12.html"
          target="_blank"
          class="col-md-3"
        >
          <div class="box-content">
            <img
              src="https://s.tracnghiem.net/images/share/thumb/230x144/913_1599817737.jpg"
            />
            <div class="title-box">
              Lý thuyết Giải tích và Hinh học lớp 12 đầy đủ và chi tiết
            </div>
          </div>
        </a>
        <a
          href="https://www.elib.vn/hoc-tap/tag/cong-nghe-12.html"
          target="_blank"
          class="col-md-3"
        >
          <div class="box-content">
            <img
              src="https://s.tracnghiem.net/images/share/thumb/230x144/906_1599817514.jpg"
            />
            <div class="title-box">
              Lý thuyết Công Nghệ lớp 12 đầy đủ và chi tiết
            </div>
          </div>
        </a>
        <a
          href="https://www.elib.vn/hoc-tap/tag/giai-bai-tap-sinh-12.html"
          target="_blank"
          class="col-md-3"
        >
          <div class="box-content">
            <img
              src="https://s.tracnghiem.net/images/share/thumb/230x144/997_1599814641.jpg"
            />
            <div class="title-box">
              Hướng dẫn giải SGK, SBT và nâng cao Sinh học 12
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</footer>
