<div class="main-content">
  <div class="container-fluid">
    <div class="title">Thông Tin Chương Môn Học</div>
    <button
      mat-raised-button
      color="primary"
      class="mb-2"
      (click)="CreateCategory()"
    >
      Tạo Chương
    </button>

    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <mat-form-field appearance="fill">
          <mat-label>Chọn Môn</mat-label>
          <mat-select  [(ngModel)]="subject">
            <mat-option
            (click)="selectSubject(subject)"
              *ngFor="let subject of subjects"
              value="{{ subject.id }}"
              >{{ subject.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- <div *ngIf="!titleSubject" class="title-2" style="text-align: center; font-size: 25px">
       Danh Sách Chương Môn Học
    </div> -->
    <div *ngIf="titleSubject" class="title-2" style="text-align: center; font-size: 25px">
      Danh Sách Chương Môn {{titleSubject}}
   </div>
    <div class="main-history">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="">
            <th>ID</th>
            <th>Tên Chương</th>
            <th>Môn</th>
            <th>Ngày Tạo</th>
            <th>Hành Động</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.subject.name }}</td>
              <td>{{ item.createdAt | date: "MM-dd-yyyy"}}</td>
              <td class="table-action">
                <span
                  (click)="editCategory(item)"
                  class="material-icons icon-delete"
                >
                  mode_edit
                </span>
                <span
                  (click)="deleteTest(item.id)"
                  class="material-icons icon-delete"
                >
                  delete
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
