<div class="main-content">
  <div class="container-fluid">
    <div class="title">Thông Tin Câu Hỏi</div>
    <button
      mat-raised-button
      color="primary"
      class="mb-2"
      (click)="Createquestion()"
    >
      Tạo Câu Hỏi
    </button>
    <div style="justify-content: flex-end" class="row">
      <div class="col-md-1">
        <mat-form-field appearance="fill">
          <mat-label>Môn</mat-label>
          <mat-select [(ngModel)]="subject">
            <mat-option
              (click)="selectSubject(subject)"
              *ngFor="let subject of subjects"
              value="{{ subject.id }}"
              >{{ subject.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="fill">
          <mat-label>Chọn Chương</mat-label>
          <mat-select [(ngModel)]="category">
            <mat-option
              (click)="selectCategory(category)"
              *ngFor="let category of categoris"
              value="{{ category.id }}"
              >{{ category.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="checkLoading" style="display: flex; justify-content: center">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!checkLoading" class="main-history">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="">
            <th>ID</th>
            <th>Chương</th>
            <th>Mức Độ</th>
            <th>Nội Dung Câu Hỏi</th>
            <th>Hành Động</th>
          </thead>
          <tbody>
            <ng-container>
              <tr *ngFor="let item of questions">
                <td>{{ item.id }}</td>
                <td>{{ item.category.name }}</td>
                <td *ngIf="item.levelId === 1">Nhận Biết</td>
                <td *ngIf="item.levelId === 2">Thông Hiểu</td>
                <td *ngIf="item.levelId === 3">Vận Dụng</td>
                <td *ngIf="item.levelId === 4">Vận Dụng Cao</td>
                <td>{{ item.content }}</td>
                <td class="table-action">
                  <span
                    matTooltip="Xem Đáp Án"
                    (click)="seenAsnwer(item.id)"
                    class="material-icons icon-delete"
                  >
                    speaker_notes
                  </span>
                  <span
                    matTooltip="Sửa Câu Hỏi"
                    (click)="editQuestion(item)"
                    class="material-icons icon-delete"
                  >
                    mode_edit
                  </span>
                  <span
                    matTooltip="Xóa Câu Hỏi"
                    (click)="deleteQuestion(item.id)"
                    class="material-icons icon-delete"
                  >
                    delete
                  </span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
