<div class="row" style="justify-content: flex-end;">
    <div class="col-md-9">
      <mat-form-field appearance="fill">
        <mat-label>Chọn Môn</mat-label>
        <mat-select  [(ngModel)]="subject">
          <mat-option  (click)="selectSubject(subject)"  *ngFor="let subject of subjects" value="{{subject.id}}" >{{subject.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    </div>
<div
  id="chartdiv3"
  style="width: 100%; height: 500px; margin-bottom: 45px"
></div>
