<div class="main-content">
    <div class="container-fluid">
      <div class="box-sub">
        <div class="title">Ma De 4334769879878</div>
        <div class="box-wraper">
          <div class="row">
            <div class="col-md-12">
              <div class="box-a">
                <mat-card>
                  <div class="box">
                    <div class="form-group">
                      <label
                        >Câu 1: Một con lắc lò xo gồm vật nhỏ khối lượng 0,02 kg
                        và lò xo có độ cứng 1 N/m. Vật nhỏ được đặt trên giá đỡ cố
                        định nằm ngang dọc theo trục lò xo. Hệ số ma sát trượt
                        giữa giá đỡ và vật nhỏ là 0,1. Ban đầu giữ vật ở vị trí lò
                        xo bị nén 10 cm rồi buông nhẹ để con lắc dao động tắt dần.
                        Lấy g = 10 m/s2. Tốc độ lớn nhất vật nhỏ đạt được trong
                        quá trình dao động là:</label
                      >
                      <mat-radio-group aria-label="Select an option">
                        <mat-radio-button style="display: block" value="1"
                          >Option 1</mat-radio-button
                        >
                        <mat-radio-button style="display: block" value="2"
                          >Option 2</mat-radio-button
                        >
                        <mat-radio-button style="display: block" value="3"
                          >Option 1</mat-radio-button
                        >
                        <mat-radio-button style="display: block" value="4"
                          >Option 2</mat-radio-button
                        >
                      </mat-radio-group>
                    </div>
                    <div class="form-group">
                      <label
                        >Câu 1: Một con lắc lò xo gồm vật nhỏ khối lượng 0,02 kg
                        và lò xo có độ cứng 1 N/m. Vật nhỏ được đặt trên giá đỡ cố
                        định nằm ngang dọc theo trục lò xo. Hệ số ma sát trượt
                        giữa giá đỡ và vật nhỏ là 0,1. Ban đầu giữ vật ở vị trí lò
                        xo bị nén 10 cm rồi buông nhẹ để con lắc dao động tắt dần.
                        Lấy g = 10 m/s2. Tốc độ lớn nhất vật nhỏ đạt được trong
                        quá trình dao động là:</label
                      >
                      <mat-radio-group aria-label="Select an option">
                        <mat-radio-button style="display: block" value="1"
                          >Option 1</mat-radio-button
                        >
                        <mat-radio-button style="display: block" value="2"
                          >Option 2</mat-radio-button
                        >
                        <mat-radio-button style="display: block" value="3"
                          >Option 1</mat-radio-button
                        >
                        <mat-radio-button style="display: block" value="4"
                          >Option 2</mat-radio-button
                        >
                      </mat-radio-group>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  