<div *ngIf="checkAnswer" > Đáp Án Chưa Được Thêm Cho Câu Hỏi Này</div>
<div *ngIf="!checkAnswer" class="box-create" style="width: 900px">
  <div class="box-title">
    <h1 mat-dialog-title>Xem Đáp Án</h1>
  </div>
<div  class="main-history">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="">
          <th>Đáp Án</th>
          <th>isCorrect</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of answers">
            <td>{{ item.content }}</td>
            <td *ngIf="item.isCorrect">True</td>
            <td *ngIf="!item.isCorrect">False</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" [mat-dialog-close]="true">Hủy</button>
  </mat-dialog-actions>