<div class="main-content">
  <div class="container-fluid">
    <div style="margin-bottom: 10px" class="title">Thống Kê</div>
    <div class="row">
      <div class="col-md-6">
        <div style="text-align: center; font-size: 25px; font-weight: 400">
          Thống Kê User Làm Bài Kiểm Tra Nhiều Nhất
        </div>
        <app-hight-test></app-hight-test>
      </div>
      <div class="col-md-6">
        <div style="text-align: center; font-size: 25px; font-weight: 400">
          Thống Kê Số Lượng Đánh Giá App
        </div>
        <app-sta-feedback></app-sta-feedback>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div
          style="
            text-align: center;
            font-size: 25px;
            margin-bottom: 25px;
            font-weight: 400;
          "
        >
          Thống Kê Điểm Các Môn theo User
        </div>
        <app-good-result></app-good-result>
      </div>
      <div class="col-md-6">
        <div
          style="
            text-align: center;
            font-size: 25px;
            margin-bottom: 25px;
            font-weight: 400;
          "
        >
          Thống Kê Điểm Trung Bình Các Môn
        </div>
        <app-medium-subject></app-medium-subject>
      </div>
    </div>
  </div>
</div>
