<div class="main-content">
  <div class="container-fluid">
    <div class="box-sub">
      <div class="title">Ma De {{ codeId }}</div>
      <div class="box-wraper" >
        <div class="row">
          <div class="col-md-10">
            <div class="box-a">
              <mat-card class="cards-custom" id ="questionBox">
                <div class="box">
                  <div class="form-group question"  *ngFor="let question of questions;let i = index">
                    <label class="question-title">Câu {{i+1}}: {{ question.content }}</label>
                    <mat-radio-group class="answer" aria-label="Select an option">
                      <mat-radio-button
                      class="answer-title"
                        style="display: block; margin: 0 50px"
                        (click)="
                          checkAnswers(answer.questionId); clickAnswer(answer)
                        "
                        [value]="answer.id"
                        *ngFor="let answer of question.answers"
                      >
                        {{ answer.content }}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
          <div class="col-md-2">
            <div class="box-b">
              <mat-card>
                <div class="box-timer">
                  <countdown
                    #cd
                    [config]="{ leftTime: a }"
                    (event)="handleEvent($event)"
                  ></countdown>
                  <div class="box-2">
                    <div
                      (click)="toQuestion(i)"
                      style="cursor: default;"
                      class="box-span"
                      [class.active]="item.isAnswers"
                      *ngFor="let item of questions; let i = index"
                    >
                      {{ i + 1 }}
                    </div>
                  </div>
                </div>
                <div class="box-btn">
                  <button (click)="Submit()" mat-raised-button color="primary">
                    Nộp Bài
                  </button>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
